Babel==2.17.0
beautifulsoup4==4.14.2
commentjson==0.9.0
dateparser==1.2.2
gliner==0.2.13
matplotlib==3.10.6
num2words==0.5.14
numpy==2.3.3
onnxruntime==1.20.1
openai==2.0.1
pandas==2.3.3
python-dotenv==1.1.1
rapidfuzz==3.14.1
recognizers_text==1.0.2a2
recognizers_text_date_time==1.0.2a2
Requests==2.32.5
scikit_learn==1.7.2
seaborn==0.13.2
spacy==3.8.4
sqlite_vec==0.1.6
streamlit==1.40.2
torch==2.6.0+cu124
tqdm==4.67.1
transformers==4.57.0.dev0
wandb==0.22.1